input { 
    border: 3px solid rgb(0, 0, 0); 
    width: 80px;
    height: 40px; 
    padding: 3px 5px;
    font-size: 30px; 
    text-align: center;
    font-weight: bolder; }
p#result { 
    font-size: 30px;
    padding: 10px 10px;
    font-weight: bolder; }
.prime { 
    background: lightgreen; }
.notPrime { 
    background: rgb(255, 0, 43); }
.invalid { 
    background: rgb(255, 0, 0); }


