input { 
    border: 3px solid rgb(255, 255, 255); 
    width: 200px;
    height: 30px;
    padding: 3px 5px;
    font-size: 30px; 
    text-align: center;
    font-weight: bolder; }
p#result { 
    width: 500px;
    font-size: 30px;
    color: rgb(2, 255, 2);
    text-align: center;
    margin-left: 90px;
    padding: 10px 10px;
    font-weight: bolder;
    background-color: rgb(153, 2, 240); }
hr {
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 5px;}


